<div class="games">
  <ng-container *ngFor="let game of games$ | async">
    <div class="game" routerLink="/details/{{game.id}}">
      <div class="game-thumb-container">
        <img *ngIf="game.background_image" src="{{game.background_image}}" class="game-thumbnail">
        <p *ngIf="!game.background_image">No image</p>
      </div>
      <div class="game-description">
        <p class="game-name">{{game.name}}</p>
        <div class="game-platforms">
          <img *ngFor="let platform of game.parent_platforms"
               src="assets/images/platforms/{{platform.platform.slug}}.svg"
               class="game-platform">
        </div>

      </div>

    </div>
  </ng-container>
</div>
